
  <nav class="navbar navbar-expand-sm navbar-dark bg-black"align="center"style="background-color: #007bff; color: black;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <form class="d-flex justify-content-center">
        </form>
          <button type="button" class="btn btn-light" (click)="home()" style="width:200px; margin-left: 20%; margin-right: 20%; border: 2px solid white;">HOME</button>
          <h3  class="container" align="center"><span style="color: blueviolet;">"ASTRA & CO"</span></h3>
          <button type="button" class="btn btn-light" (click)="biglietto()" style="width:200px; margin-left: 20%; margin-right: 20%; border: 2px solid white;">BIGLIETTI</button>     
      </div>
    </div>
  </nav>



  