<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<div class ="sfondo"><h3  class="container" align="center"><span style="color: white;">BENVENUTI! NOI SIAMO LA <span style="color: blueviolet;">"ASTRA & CO"</span> SIAMO L'UNICA AGENZIA CHE VI PERMETTE DI PUNTARE ALLE STELLE CON I VOSTRI VIAGGI. </span></h3>
    <h3  class="container" align="center"><span style="color: white;"> AFFIDATI A NOI PER AVERE UN'ESPERIENZA STELLARE IN UNA <span style="color: blueviolet;">CROCIERA SPAZIALE</span> CON DIVERSI COMFORT CHE SI POSSONO RITROVARE CON NOI </span></h3>
</div>
