.sfondo{
    background-image: url("https://img.wallscloud.net/uploads/thumb/1737927782/planets-of-the-solar-system-1-58859-1024x576-MM-80.webp");
    background-size: cover;
    background-position: center center;
    height: 1000px;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
}