.card-marte{
  background-color: orangered;
}
.card-saturno{
  background-color: burlywood;
}
.card-sole{
  background-color: red;
}
.card-urano{
  background-color: lightskyblue;
}
.card-titano{
  background-color: green;
}
.card-plutone{
  background-color: brown;
}
.card-ROXs{
  background-color: grey;
}
