<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
<div class="container">
  <div class="card-container">
    <div class="card" *ngFor="let element of biglietti index as i" [ngClass]="{'card-marte': element.nome === 'marte', 'card-saturno': element.nome === 'saturno','card-sole': element.nome === 'sole','card-urano': element.nome === 'urano','card-titano': element.nome === 'titano','card-plutone': element.nome === 'plutone','card-ROXs': element.nome === 'ROXs 42 Rb',}">
      <div class="card-header" >
        <img class="card-img-top" src="{{element.immagine}}" alt="Card image">
          <h4 class="card-title" align="center"><strong>{{element.nome}}</strong></h4>
      </div>
          <div class="card-body" >
            <p class="card-text"><strong>SISTEMA SOLARE DI APPARTENENZA:</strong>{{element.sistemasolare}}</p>
            <p class="card-text"><strong>DURATA DEL VIAGGIO IN ANNI LUCE:</strong>{{element.durata}}</p>
            <p class="card-text"><strong>PIANETA DI PARTENZA :</strong>{{element.postopartenza}}</p>
            <p class="card-text"><strong>DATA DELLA PARTENZA :</strong>{{element.datapartenza}}</p>
            <p class="card-text"><strong>DATA DELL'ARRIVO :</strong>{{element.dataarrivo}}</p>
            <p class="card-text"><strong>COSTO IN ECONOMY :</strong>{{element.costoeconomy|currency: 'EUR':'symbol'}}</p>
            <p class="card-text"><strong>COSTO BUSINESS:</strong>{{element.costo|currency: 'EUR':'symbol'}}</p>
          </div>
    </div>
  </div>
</div>
    