<div class="container">
  <div class="card-container">
    <div class="card" *ngFor="let element of biglietti index as i">
      <div class="card-header">
        <img class="card-img-top" src="{{element.immagine}}" alt="Card image">
          <h4 class="card-title" align="center">{{element.nome}}</h4>
      </div>
          <div class="card-body">
            <p class="card-text">{{element.sistemasolare}}</p>
            <p class="card-text">{{element.durata}}</p>
            <p class="card-text">{{element.postopartenza}}</p>
            <p class="card-text">{{element.datapartenza}}</p>
            <p class="card-text">{{element.dataarrivo}}</p>
            <p class="card-text">{{element.costoeconomy}}</p>
            <p class="card-text">{{element.costo}}</p>
          </div>
    </div>
  </div>
</div>
    